@model (int NewPostsCount, int TotalUsersCount, int TotalCategoriesCount)
@{
    Layout = "_LayoutAdmin";
}

<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-primary">
            <div class="inner">
                <h3>@Model.NewPostsCount</h3>
                <p>โพสต์ใหม่</p>
            </div>
            <div class="icon">
                <i class="fas fa-pen-fancy"></i>
            </div>
            <a href="#" class="small-box-footer">
                ข้อมูลเพิ่มเติม <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.TotalCategoriesCount</h3>
                <p>หมวดหมู่</p>
            </div>
            <div class="icon">
                <i class="fas fa-th"></i>
            </div>
            <a href="#" class="small-box-footer">
                ข้อมูลเพิ่มเติม <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@Model.TotalUsersCount</h3>
                <p>สมาชิก</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">
                ข้อมูลเพิ่มเติม <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>89<sup style="font-size: 20px">%</sup></h3>
                <p>การเข้าชมโพสต์</p>
            </div>
            <div class="icon">
                <i class="fas fa-eye"></i>
            </div>
            <a href="#" class="small-box-footer">
                ข้อมูลเพิ่มเติม <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Latest Orders</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Item</th>
                        <th>Status</th>
                        <th>Popularity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                        <td>Call of Duty IV</td>
                        <td><span class="badge badge-success">Shipped</span></td>
                        <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR1848</a></td>
                        <td>Samsung Smart TV</td>
                        <td><span class="badge badge-warning">Pending</span></td>
                        <td>
                            <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR7429</a></td>
                        <td>iPhone 6 Plus</td>
                        <td><span class="badge badge-danger">Delivered</span></td>
                        <td>
                            <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR9671</a></td>
                        <td>MacBook Pro</td>
                        <td><span class="badge badge-info">Shipped</span></td>
                        <td>
                            <div class="sparkbar" data-color="#00c0ef" data-height="20">90,70,-90,70,61,-83,63</div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR9652</a></td>
                        <td>Apple Watch</td>
                        <td><span class="badge badge-warning">Pending</span></td>
                        <td>
                            <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-70,70,61,83,63</div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR1857</a></td>
                        <td>iPad Air</td>
                        <td><span class="badge badge-success">Shipped</span></td>
                        <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">80,-80,70,70,-61,83,63</div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR3795</a></td>
                        <td>Apple Pencil</td>
                        <td><span class="badge badge-danger">Delivered</span></td>
                        <td>
                            <div class="sparkbar" data-color="#f56954" data-height="20">90,-70,90,-70,61,83,63</div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR6217</a></td>
                        <td>Surface Book</td>
                        <td><span class="badge badge-info">Shipped</span></td>
                        <td>
                            <div class="sparkbar" data-color="#00c0ef" data-height="20">80,80,-70,70,-61,83,63</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-center">
        <a href="javascript:void(0)" class="btn btn-sm btn-primary">Place New Order</a>
    </div>
</div>
